<div data-controller="comment-report" data-comment-report-comment-id='42'>
  <p>(a comment with id 42)</p>
  <button data-action="click->comment-report#report">Report this comment</button>
</div>

<div data-controller="comment-report" data-comment-report-comment-id='43'>
  <p>(another comment with id 43)</p>
  <button data-action="click->comment-report#report">Report this comment</button>
</div>

<div data-controller="comment-report" data-comment-report-comment-id='44'>
  <p>(yet another comment with id 44)</p>
  <button data-action="click->comment-report#report">Report this comment</button>
</div>
