<h2>Home page</h2>
<p>This would be a static home page in Rails application.</p>
<div>
  <%= link_to "Pipka", "/pages/pipka" %>
  <%= link_to "Pipka", "/pages/comments" %>
</div>
<br>
<p>© <%= Date.today.year %> My App.</p>
