<div data-controller="pipka">
  <button data-action='click->pipka#function_add'>Add Pipka</button>

  <span data-target="pipka.output"></span>
  <span data-target="pipka.output"></span>
  <span data-target="pipka.output"></span>
</div>
